# Virtual environment
venv/
env/
.env

# Python cache
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
